h1 {
  margin: 20px;
  font-family: Lato;
  color: yellow;
  padding: 10px;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: bisque;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
